RewriteEngine On

# Ne pas rediriger les fichiers existants
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Ne pas rediriger les répertoires existants  
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rediriger tout le reste vers index.html
RewriteRule ^ /index.html [L]